@import url(./_global.css);
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&family=Roboto:wght@300;400;700&display=swap');

body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;

  font-family: 'Roboto', sans-serif;
}

header {
  background: var(--purple-bg);
  padding: 0 150px;
  padding-bottom: 60px;
}

.header {
  color: var(--white);
  display: flex;
  padding: 60px 0;
  justify-content: space-between;
  align-items: center;
}

.navbar ul{
  list-style: none;
  display: flex;
}

.navbar ul li {
  margin-right: 25px;
}

.navbar ul li a {
  text-decoration: none;
  color: var(--white);
  font-size: 1.10rem;
  font-weight: 400;
}

.navbar ul li a:active {
  color: var(--green);
}

.search {
  display: flex;
}

.search input {
  border: 0;
  background: var(--dark-bg);
  padding: 15px 25px;
  height: 15px;
  width: 200px;
  color: var(--white);
  border-radius: 4px 0 0 4px;
}

.search button {
  background: var(--button-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  width: 80px;
  border-radius: 0 4px 4px 0;
  border: 0;
}

header .content {
  display: flex;
}

header .content .content-text {
  width: 50%;
  padding-right: 100px;
}

header .content .content-text p {
  color: white;
  font-weight: 300;
  font-size: 1.2rem;
}

header .content .content-text a {
  color: var(--light-purple);
  text-decoration: none;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
}

header .content .content-text a svg {
  margin-left: 6px;
}

header .content h1 {
  color: var(--light-purple);
  font-size: 2.5rem;
  
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
}

.separador {
  height: 8px;
  background: var(--green);
}


main {
  padding: 60px 150px;
}

main h3 {
  font-size: 2rem;
  color: var(--purple-bg)
}

main section {
  display: flex;
}

main section:nth-child(1) img {
  width: 630px;
}

main section:nth-child(1) .post:nth-child(1){
  padding-right: 120px;
}

main section .post h3 {
  margin: 8px 0;
}

main section .post p {
  color: black;
  font-weight: 400;
}

main section:nth-child(2) {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

main section:nth-child(2) .post h3 {
  margin: 8px 0;
}

main section:nth-child(2) img {
  width: 450px;
}
main section:nth-child(2) .post {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 280px;
}

main section:nth-child(2) div:nth-child(2) {
  margin: 0 30px;
}